h1 = question.title 
= link_to t('.delete_question'), question_path(question), method: :delete, data: { confirm: t('actions.destroy_confirmation') }

p = question.body
ul
  = render answers

= form_with url: question_answers_path(question), scope: :answer, local: true do |form|
  = render 'questions/inline_answer_form', form: form

= link_to t('actions.back'), questions_path
